<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="bno085" params="parent_link bno085_link_name joint_origin_xyz joint_origin_rpy">

    <link name="${bno085_link_name}"/>

    <joint name="${bno085_link_name}_joint" type="fixed">
      <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
      <parent link="${parent_link}"/>
      <child link="${bno085_link_name}"/>
    </joint>

  </xacro:macro>

</robot>
