<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Based on: https://github.com/luxonis/depthai-ros/tree/humble/depthai_descriptions -->

  <xacro:macro name="oak_d_w_poe" params="camera_name parent_link mount_origin_xyz mount_origin_rpy imu_rpy">

    <!-- Mount link -->
    <link name="${camera_name}_mount_link"/>
    <joint name="${camera_name}_mount_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${camera_name}_mount_link"/>
      <origin xyz="${mount_origin_xyz}" rpy="${mount_origin_rpy}"/>
    </joint>

    <!-- Camera base frame -->
    <link name="${camera_name}_base_link"/>
    <joint name="${camera_name}_base_joint" type="fixed">
      <parent link="${camera_name}_mount_link"/>
      <child link="${camera_name}_base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- RGB camera -->
    <link name="${camera_name}_rgb_camera_frame"/>
    <joint name="${camera_name}_rgb_camera_joint" type="fixed">
      <parent link="${camera_name}_base_link"/>
      <child link="${camera_name}_rgb_camera_frame"/>
      <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
      <origin xyz="0 0 0" rpy="3.14159 0 0"/>
    </joint>

    <link name="${camera_name}_rgb_camera_optical_frame"/>
    <joint name="${camera_name}_rgb_optical_joint" type="fixed">
      <parent link="${camera_name}_rgb_camera_frame"/>
      <child link="${camera_name}_rgb_camera_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

    <!-- Stereo left camera -->
    <link name="${camera_name}_left_camera_frame"/>
    <joint name="${camera_name}_left_camera_joint" type="fixed">
      <parent link="${camera_name}_base_link"/>
      <child link="${camera_name}_left_camera_frame"/>
      <!-- <origin xyz="0 -0.0375 0" rpy="0 0 0"/> -->
      <origin xyz="0 -0.0375 0" rpy="3.14159 0 0"/>
    </joint>

    <link name="${camera_name}_left_camera_optical_frame"/>
    <joint name="${camera_name}_left_optical_joint" type="fixed">
      <parent link="${camera_name}_left_camera_frame"/>
      <child link="${camera_name}_left_camera_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

    <!-- Stereo right camera -->
    <link name="${camera_name}_right_camera_frame"/>
    <joint name="${camera_name}_right_camera_joint" type="fixed">
      <parent link="${camera_name}_base_link"/>
      <child link="${camera_name}_right_camera_frame"/>
      <!-- <origin xyz="0 0.0375 0" rpy="0 0 0"/> -->
      <origin xyz="0 0.0375 0" rpy="3.14159 0 0"/>
    </joint>

    <link name="${camera_name}_right_camera_optical_frame"/>
    <joint name="${camera_name}_right_optical_joint" type="fixed">
      <parent link="${camera_name}_right_camera_frame"/>
      <child link="${camera_name}_right_camera_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

    <!-- IMU -->
    <link name="${camera_name}_imu_frame"/>
    <joint name="${camera_name}_imu_joint" type="fixed">
      <parent link="${camera_name}_base_link"/>
      <child link="${camera_name}_imu_frame"/>
      <!-- <origin xyz="-0.008 0.04 0.020265" rpy="3.14159265359 1.5708 0"/> -->
      <origin xyz="-0.008 0.04 0.020265" rpy="${imu_rpy}"/>
    </joint>

  </xacro:macro>

</robot>
